.calculator {
  border: 1px solid var(--border);
  border-radius: 0.375rem;
  width: 380px;
  height: 500px;
  font-family: Arial, sans-serif;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--primary);
}

.output {
  border: 1px solid var(--border);
  border-radius: 0.375rem;
  height: 96px;
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
  background-color: var(--surface-hover);
}

.result {
  font: var(--title);
  color: var(--text);
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

button {
  border: none;
  border-radius: 0.375rem;
  padding: 10px;
  background-color: var(--white);
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: var(--white-hover);
}

button:active {
  background-color: var(--white-active);
}

.btn-equal {
  background-color: var(--secondary);
  color: var(--text);
}

.btn-equal:hover {
  background-color: var(--secondary-hover);
  color: var(--text);
}

.btn-equal:active { 
  background-color: var(--secondary-active);
  color: var(--text);
}

.btn-clear {
  background-color:var(--red);
  color: var(--text);
}

.btn-clear:hover {
  background-color: var(--red-hover);
  color: var(--text);
}

.btn-clear:active{
  background-color: var(--red-active);
}