.footer { 
    display: grid;
    grid-template-areas: "slogan     signature" ;
    border-top: 1px solid var(--border) ;
    background-color: var(--bg-color);
    padding: 1rem ;
    color: var(--text);
}

.footer a {
    text-decoration: none;
    color: var(--text);
    margin: 0 0.5rem;
    transition: 0.2s;
    color: var(--primary);
}

.footer a:hover{
    color: var(--text);
}

.signature { 
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    grid-area: signature;
}

.links-footer{
    display: flex;
    align-items: center;
    gap: .5rem;
    grid-area: slogan;
}